footer {
    align-items: center;
    justify-content: space-between;
    background-color: #140539;
    color: white;
    height: 10vh;

    .nav__menu {
        display: flex;
        img{
            filter:invert(80%) sepia(22%) saturate(5837%) hue-rotate(31deg) brightness(99%) contrast(97%);
        }
        
        

    }
}