footer {
    @include flex($justify: space-between,$align:center);
    align-items: center;
    background-color: map-get($colores, primary);
    color: white;
    height: 10vh;

    .nav__menu {
        padding-top: 1rem;
        padding-bottom: 1rem;
        @include flex($justify: space-between,$gap:2rem);
        img{
            filter:invert(80%) sepia(22%) saturate(5837%) hue-rotate(31deg) brightness(99%) contrast(97%);
        }
        
        

    }
    padding-top: 6rem;
}