#listaActiv {
    background-color: map-get($colores, primary);
    @include flex(row,space-around, flex-start, 0.5rem, wrap);




}

#mainActiv {
    background-color: white;

    h2 {
        padding-left: 1rem;
        padding-bottom: 2rem;
    }
}

.activityCard {
    width: 30em;
    color: white;
    background-color:map-get($colores, primary);

    div {
        height: 200px;
        object-fit: cover;
    }

    p {
        background-color: map-get($colores, extra1);
        color: map-get($colores, primary);
        height: 14em;
        font-size: 1.25em;
        padding-left: 0.5rem;
        padding-top: 0.5rem;

    }

    h3 {
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
    }

}



#seccionClasesGrupales {
    align-self: center;
    padding-bottom: 2rem;
}

h2 {
    font-weight: 400;
    font-size: 4em;
}


.caption__titulo {
    font-size: 1.5em;
    color: map-get($colores, extra1);
}



.logoTable {
    @include sizes(10em,8em);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

caption {
    padding: 0;

    div {
        @include flex(row,space-between, flex-start, 0, wrap);
        background-color: map-get($colores, primary);
        align-items: center;
        padding-left: 1rem;
        padding-right: 10rem;

    }
}








table {
    caption-side: top;

    td {

        padding: 0.5em 1em 0.5em 1em;
        text-align: center;
        background-color: map-get($colores, extra2);
    }

    th {
        background-color: map-get($colores, secondary);
        color: #302827;
        text-align: center;
        font-size: 1em;
        padding: 1em 1em 1em 1em;

    }

    p {
        color: map-get($colores, primary);
        font-weight: bold;
        font-variant: small-caps;
        font-size: 1.5em;
    }
}