.contenedorFormulario {
    @include sizes(100%,60rem);
    @include flex($justify:space-between);
    background-color: map-get($colores, primary);
    

    img {
        @include sizes(55%,100%);
       
        object-fit: cover;

    }

}



#contacto {
    min-height: 100vh;
    align-items: center;
    background-color: white;
    @include flex($direction:column);

    article {
        color: gray;
        font-weight: 300;
        font-size: 3em;
        width: 15em;


    }

    &>div {
        margin-left: 2rem;
        margin-right: 2rem;
        @include flex($direction:column);
        margin-bottom: 10rem;

    }

    h2 {
        align-self: flex-start;
        margin-bottom: 10rem;
        padding-left: 1rem;
    }

    
}




.contenedorCasillas {
    width: 15em;
}

.contenedorInput {
    @include sizes(10rem,2.5rem);
    background-color: map-get($colores, primary);
    border: 1px solid white;
    color: white;
    border-radius: .5em;
    transition: width .6s linear;

    &:focus {
        width: 15rem;
    }
}





form {
    @include flex(column,space-evenly, flex-start, 0, wrap);
    color: white;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size: 1.25em;
    
    
   
}

textarea {
    resize: none;
}

label {
    display: block;
}
.botonContacto{
    @extend .boton;
    padding: 1rem 2.5rem;
    margin-right: 1rem;
    
}