#sections {
    display: grid;
    @include sizes(100%,60vh);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "activ nosotros"
        "activ contacto";

}

.activ {
    grid-area: activ;
}

.contacto {
    grid-area: contacto;
}

.nosotros {
    grid-area: nosotros;
}

.carousel-caption {
    @include flex($direction:column ,$justify:center,$align:center);


    h3 {
        z-index: 1;
    }
}



.contenedoresSections {
    background-size: cover;
    @include sizes(100%,100%);
    align-items: center;
    justify-content: center;

    h3 {
        color: map-get($colores, secondary);
        font-size: 1.5em;
        font-style: normal;
        font-weight: 700;
        transition: transform .3s ease-in-out;
    }
}


.contenedorNosotros {
    background-image: url("../img/discosBlur.png");
    
}

.contenedorContacto {
    background-image: url("../img/recepcionBlur.png");
}

#asociate {
    
    justify-content: space-evenly;
    background-color: white;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.contenedorPlan {
    padding: 1rem 3rem 0rem 3rem;
    border: 0.5em solid map-get($colores, secondary);
    border-radius: 5em;

    article {
        align-items: center;
        gap: 1rem;

        ul {
            list-style-type: circle;
            line-height: 2rem;
            padding-top: 2rem;
            font-weight: 600;
            font-size: 1.4em;


        }

    }

    li {
        padding-bottom: 3rem;
    }

    h4 {
        text-align: center;
        padding-bottom: 2rem;
        font-family: 'Roboto', sans-serif;
        color: map-get($colores, extra2);
        font-size: 1.25em;
        margin-bottom: 0;
        font-weight: 700;
    }

}







#sectionLogo {
    background-image: url(../img/contacto.jpg);
    @include sizes(100%,40vh);
    background-size: cover;
    align-items: center;
    @include flex(row,center, flex-start, 0, wrap);

}

.logoFondo {
    height: 30vh;
}

.headerAsociate {
    background-color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 0;
}