#about {
    display: grid;
    width: 100%;
    grid-template-areas:
        "fondo fondo"
        "article article"
        "article article"
        "ubic ubic";
    background-color: #140539;
    color: white;
    gap: 1rem;

    article {
        grid-area: article;
        border-bottom: 1px solid #94D104;
    }

    .flex-fila {
        img {
            width: 70em;
            height: auto;
            border-radius: 20em;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    h3 {
        font-size: 3.6em;
        font-weight: 500;
    }
    h4 {
        font-size: 2.4em;
        font-weight: 500;
    }
    p {
        font-weight: 400;
        font-size: 1.8em;
    }

}

.imagenFondoSoviet {
    grid-area: fondo;
    height: 10vh;
    background-image: url(../img/soviet.jpg);
    background-size: 100%;
    background-position: center;
    border-bottom: 1px solid #94D104;

}


#ubicacion {
    grid-area: ubic;
    border-bottom: 1px solid #94D104;
}

.flex-nosotros {
    gap: 1rem;
}

.div-about {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
}


.mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    width: 30%;
    height: 400px;
}

.gmap_iframe {
    height: 400px;
}