#about {
    display: grid;
    width: 100%;
    grid-template-areas:
        "fondo fondo"
        "article article"
        "article article"
        "ubic ubic";
    background-color:map-get($colores, primary);
    color: white;
    gap: 1rem;

    article {
        grid-area: article;
        border-bottom: 1px solid map-get($colores, secondary);
    }

    .flex-fila {
        img {
            @include sizes(70em,auto);
            border-radius: 20em;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
    h3 {
        font-size: 3.6em;
        font-weight: 500;
    }
    h4 {
        font-size: 2.4em;
        font-weight: 500;
    }
    p {
        font-weight: 400;
        font-size: 1.8em;
    }

}

.imagenFondoSoviet {
    grid-area: fondo;
    height: 10vh;
    background-image: url(../img/soviet.jpg);
    background-size: 100%;
    background-position: center;
    border-bottom: 1px solid map-get($colores, secondary);

}


#ubicacion {
    grid-area: ubic;
    border-bottom: 1px solid map-get($colores, secondary);
}

.flex-nosotros {
    gap: 1rem;
}

.div-about {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.mapa {
    @include flex( $justify: center);
    margin: 1rem auto;
}


.mapouter {
    position: relative;
    text-align: right;
    @include sizes(100%,400px);
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    @include sizes(30%,400px);
}

.gmap_iframe {
    height: 400px;
}