.flex-fila {
    display: flex;
}

.flex-columna {
    display: flex;
    flex-direction: column;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}



.logo {
    width: 12.5em;
    height: 12.5em;
}

@mixin sizes($width,$height){
    height: $height;
    width: $width;
}
@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $gap: 0, $wrap:nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $align;
    gap: $gap;
    flex-wrap: $wrap;
}
$activities:(
    spinning:spinning,
    box:box,
    crossfit:crossfit,
    musculacion:musculacion,
    cardio:cardio,
    natacion:natacion,
    yoga:yoga,
    stretching:stretching,
    zumba:zumba,
    abs:abs,
    functional:functional

);
@each $activity,$foto in $activities{
    .bg--#{$activity}{
        background-image: url("../img/#{$foto}.jpg");
        background-size: cover;
    }
}
